.divIconCompte {
  width: 3em;
  height: 3em;
  background-image: url("/temporaire/profil/iconCompte.png");
  border-radius: 50%;
  border: white 2px solid;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
