.header {
  background-image: url("/images/home-background.png");
  background-size: cover;
  background-position: center;
  padding: 280px;
  position: relative;
}

.recherchetitle {
  color: white;
  font-size: 3em;
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
