.contenerInputDate {
  position: relative;
  max-width: 14em;
}

.filterDate {
  position: relative;
  font-size: 1.5em;
  color: white;
  border: 3px #28262d solid;
  background-color: transparent;
  padding: 0.2em .5em;
  box-sizing: border-box;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
  z-index: 20;
}

.fondCalendillier {
  position: absolute;
  top: 50%;
  right: .75em;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 2.1em;
  height: 2.1em;
  background-color: #757575;
  z-index: 1;
}
