/* contener */
.contenerInputMDP {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

/* p titre */
.contenerInputMDP p {
  color: white;
  font-size: 1.1em;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

/* input */
.contenerInputMDP input {
  width: 100%;
  background-color: #08080a;
  border: rgb(40, 38, 44) 2px solid;
  border-radius: 13px;
  font-size: 1.1em;
  padding: 0.8em;
  box-sizing: border-box;
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

/* contener relatif */
.contenerRelatif {
  position: relative;
}

/* bnt cacher monter */
.contenerRelatif button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  height: 70%;
  aspect-ratio: 1 / 1;
  background-image: url("/images/icon/oeil.png");
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  transition: all 0.2s ease;
}

.contenerRelatif button:hover {
  transition: all 0.2s ease;
  transform: translateY(-50%) scale(1.1);
}
